{% if page.lang == "en" %}
{% else %}
<!-- Contacts -->
    {% if page.layout == "page" %}
      <aside>
    {% endif %}
<section id="contacts" class="wrapper alt style1">
  <section class="spotlight">
    <div class="image map-overlay-wrap">
      <div id="map">
        <a href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB.+%D0%A4%D1%80%D1%83%D0%BD%D0%B7%D0%B5,+110,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@49.5655035,34.526642,17z/data=!3m1!4b1!4m2!3m1!1s0x40d82f3d9c16350f:0xc15d66a319b31ef4?hl=ru"></a>
      </div>
    </div>
    <div id="call-to-doctor" class="content">
      <h2>Записаться на прием</h2>
      <p>Записаться на прием или бесплатную консультацию можно позвонив по одному из телефонов.</p>
      <div class="row">
        <div class="7u 12u$(medium)">
          <h5>Адрес и график работы</h5>
          <ul class="alt">
            <li><address>Полтава, ул. <strong>Фрунзе, 110</strong></address></li>
            <li>Пн - Пт: <strong>9:00 – 20:00</strong></li>
            <li>Суббота: <strong>10:00 – 14:00</strong></li>
            <li>Воскресенье: <strong>по запросу</strong></li>
          </ul>
        </div>
        <div class="5u 12u$(medium)">
          <h5>Телефоны</h5>
          <address>
            <ul class="alt">
              <li><a href="tel:+380532612454">(0532) 61-24-54</a></li>
              <li><a href="tel:+380506583444">(050) 658-34-44</a></li>
              <li><a href="tel:+380676623444">(067) 662-34-44</a></li>
              <li><a href="tel:+380634083444">(063) 408-34-44</a></li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </section>
</section>
    {% if page.layout == "page" %}
      </aside>
    {% endif %}
{% endif %}

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="mailto:{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

    <li><i class="fa fa-cc-visa"></i></li><li><i class="fa fa-cc-mastercard"></i></li>
  </ul>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}


      {% if page.lang == "en" %}
      Laser Dentistry - Poltava Ukraine
      {% else %}
      {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}
      {% endif %}
    </li>
    <li>Design: <a href="http://html5up.net" target="_blank" rel="nofollow">HTML5 UP</a></li>
    <li><!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t26.3;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: number of visitors for today is"+
" shown' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet--></li>
  </ul>

</footer>