<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  {% if page.lang == "en" %}
  <h1><a href="{{ site.baseurl }}/en.html"><i class="fi flaticon-tooth-outline-1"></i> Laser Dentistry</a></h1>
  {% else %}
  <h1><a href="{{ site.baseurl }}/"><i class="fi flaticon-tooth-outline-1"></i> {{ site.title }}</a></h1>
  {% endif %}
  <nav id="nav">
    <ul>
      {% if page.lang == "en" %}
      <li class="lang"><a href="/">RU <span><i class="fa fa-flag"></i></span></a></li>
      {% else %}
      <li class="lang"><a href="/en.html">ENG <span><i class="fa fa-flag"></i></span></a></li>
      <li class="special">


        <a class="show-large" href="/#three">Услуги</a>
        <a class="show-large" href="/price.html">Цены</a>
        <a class="show-large" href="/#one">О нас</a>
        <a class="show-large" href="#contacts">Контакты</a>

        <a href="#menu" class="menuToggle"><span class="hide-large">Меню</span></a>
        <div id="menu">
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/#three">Услуги</a></li>
            <li><a href="/price.html">Цены</a></li>
            <li><a href="/about.html">О нас</a></li>
            <li><a href="/articles.html">Статьи</a></li>
            <li><a href="/#call-to-doctor">Записаться на прием</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
              class="icon fa-feed"> RSS Лента</a></li>
          </ul>
        </div>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
